<section id="dns-search-bar" class="dns-search-bar" usitesearch-exclude="true" zzz>
    <div id="dns-search-fields" class="dns-search-fields">
        <input id="dns-search-input" type="text" placeholder="search">
        <img id="dns-search-loader" src="/usitesearch/images/spinner.gif" width="50" height="50">
        <a href="#" id="dns-search-close" title="Close"><img src="/usitesearch/images/icon-close.svg"></a>
    </div>

    <div id="dns-search-results" class="dns-search-results">
    </div>
</section>
<div id="dns-search-overlay"></div>